.cardHold {
    width: 100%;
    /* min-height: 450px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* gap: 2rem; */
}

.holder{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}